<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Voronoi</title>
    <link rel="stylesheet" type="text/css" href="../../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
		<link rel="stylesheet" type="text/css" href="style.css" >
		<script type="text/javascript" src="../../../d3.v7.js"></script>
	</head>
	<body>
		<h1>Voronoi Tessellation</h1>
    <script type="text/javascript">
      const width = 960;
      const height = 500;
      const data = d3.range(100)
        .map((d) => [Math.random() * width, Math.random() * height]);

      const svg = d3.create('svg')
      .attr('width', width)
      .attr('height', height)
      .style('background-color', '#1a1a1a')
  
  // Generate the delaunay triangulation of our data
  // takes data, x accessor and y accessor as arguments
  const delaunay = d3.Delaunay.from( data, d => d.x, d => d.y ),
        // Generate teh voronoi diagram from our delaunay triangulation
        // Takes the bounds of our diagram area as arguments [x0,y0,x1,y1]
        voronoi = delaunay.voronoi([ 0, 0, width, height ])
  
  svg.selectAll('path')
      // Construct a data object from each cell of our voronoi diagram
      .data( data.map((d,i) => voronoi.renderCell(i)) )
      .join('path')
        .attr('d', d => d)
        //.style('fill', (d,i) => color( data[i].value ))
        .style('opacity', 0.8)
        .style('stroke', 'black')
        //.style('stroke-opacity', 0.2)
 
  
  // append all of our points so that we can see how they line up with the voronoi
  svg.selectAll('circle')
    .data( data )
    .join('circle')
    .attr('cx', d => d.x)
    .attr('cy', d => d.y)
    .attr('r', 1.5);
    //.style('fill', 'white')

    </script>
  </body>

</html>
