<!DOCTYPE html>
<!-- Reference:
  https://observablehq.com/collection/@d3/d3-delaunay
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Voronoi</title>
    <link rel="stylesheet" type="text/css" href="../../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
		<link rel="stylesheet" type="text/css" href="style.css" >
		<script type="text/javascript" src="../../../d3.v7.js"></script>
    <style>
      g.polygons path{
        fill: white;
        stroke: lightsteelblue;
      }
      g.fuel circle{
        fill: steelblue;
      }
    </style>
	</head>
	<body>
		<h1>Voronoi Tessellation</h1>
    <script type="text/javascript">
      const width = 960;
      const height = 500;
      const vertices = d3.range(100)
        .map((d) => [Math.random() * width, Math.random() * height]);
      //const voronoi = d3.voronoi().size([width,height]);

      const delaunay = d3.Delaunay.from(vertices);
      const voronoi = delaunay.voronoi([0.5, 0.5, width - 0.5, height - 0.5]);

      const svg = d3.select("body")
        .append("svg")
        .attr("width", "100%")
        .attr("height", "100%");

      // remember everything is drawn in the order it is given
      // no z-order options with svg
      svg.append("g")
        .attr("class", "polygons")
        .selectAll("path")
        .data(vertices.map((d,i) => voronoi.renderCell(i)))
        .join("path")
        .attr("d", (d) => d);        

      svg.append("g")
        .attr("class","fuel")
        .selectAll("circle")
        .data(vertices)
        .join("circle")
        .attr("cx", (d) => d[0])
        .attr("cy", (d) => d[1]) 
        .attr("r", "2.5");
    </script>
  </body>

</html>
